.jumbotron {
  background: inherit;
  /* background-image: url(../images/img1.png); */
}

body {
  background-image: url(../images/img1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  color: magenta;
}

 h2, h3, h4 {
    padding: 0%;
    text-align: left;
    color: red;
  }

h5, h6 {
  color: magenta
}

p1 {
  padding: 0%;
  text-align: left;
  color: red;
}
