<!DOCTYPE html>
  <html>
    <head>
      <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
      <link href="css/styles.css" rel="stylesheet" type="text/css">
      <title>Ping pong</title>
    </head>
      <body>
        <div class="jumbotron">
          <h1>PING PONG</h1>
        </div>
        <div class=walker>
          <h2> About Ping Pong.</h2>
            <p1> Created by:</p1>
              <p>James Ikua</p>
          <h3> Github Username/URL:</h3>
            <p>James-Ikua</p>
          <h4> Level 2 test for:</h4>
            <p>Java</p>
          </class>
      <div class="black">
          <h5>Let's Play!</h5>
          <h6>Rules:</h6>
          <p>Ping pong will count upto your number from 1 with the following exceptions:</p>
              <ol>
                <li>A number divisible by <strong>3</strong> becomes - <strong>Ping</strong></li>
                <li>A number divisible by <strong>5</strong> becomes - <strong>Pong</strong></li>
                <li>A number divisible by <strong>15</strong> becomes - <strong>Ping pong</strong></li>
              </ol>
   <form id="ping-pong">
    <div class="form-group">
      <lable for="number">Enter a number here:</label>
        <input id="number" type="text">
      <button type="submit" class="btn">Ping Pong!</button>
    </div>

        <div id="number">
          <p><span class="number"></span></p>

        </div>

        <card-interactions class="card-element" ng-repeat="element in myIndex.feed">
  <label class="rating-upvote">
    <input type="checkbox" ng-click="rate('upvote', u[element.id])" ng-true-value="1" ng-false-value="0" ng-model="u[element.id]" ng-init="element.user_actions.voted === 'upvoted' ? u[element.id] = 1 : u[element.id] = 0" />
    <ng-include src="'upvote.svg'"></ng-include>
    {{ element.upvotes + u[1] }}
  </label>
  <label class="rating-downvote">
    <input type="checkbox" ng-click="rate('downvote', d[element.id])" ng-model="d[element.id]" ng-true-value="1" ng-false-value="0" ng-init="element.user_actions.voted === 'downvoted' ? d[element.id] = 1 : d[element.id] = 0" />
    <ng-include src="'downvote.svg'"></ng-include>
    {{ element.downvotes + d[1] }}
  </label>
  <hr>
</card-interactions>

  </body>
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/scripts.js"></script>
</html>
